body {
    background: #A6A081 url("../images/scales.png") repeat;
}

@font-face {
  font-family: SillyText; /* set name */
  src: url(../fonts/Barriecito-Regular.ttf); /* url of the font */
}

@font-face {
    font-family: MidEvil;
    src: url(../fonts/JBLACK.TTF);
}

#wrapper {
    max-width: 900px;
    min-height: 1000px;
    margin: auto;
    background: #EBDDBB;
    border: 3px solid #153026;
    border-radius: 20px;
    overflow: hidden;
    display: grid;
    grid-template-rows: 228px 2fr 100px;
}
header {
    background: url("../images/flames.png") -50px 878px;
    width: 100%;
}

header h1 {
    font-family: "MidEvil";
    font-size: 3em;
    color: #EBDDBB;
    float: left;
    margin: 50px 80px 50px 112px;
}

header img {
    width: 178px;
    float: left;
    margin-left: 12px;
}

nav {
    width: 100%;
    height: 50px;
    background: #8F5930;
    clear: both;
    text-align: center;
    border-bottom: 5px solid #153026;
    border-top: 3px solid #153026;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

nav a {
    color: #EBDDBB;
    font-size: 1.5em;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-self: center;
    min-width: 103px;
    justify-content: center; 
}

nav a:hover {
    background: #A6A081;
    text-shadow: 4px 4px 2px #8F5930;
    
}

main {
    background: #EBDDBB;
    display: grid;
    grid-template-columns: 1fr 1fr .4fr;
}

main section {
    background: #A6A081;
    
}
.col_left {
    grid-column: 1 / 2;
}
.col_right {
    grid-column: 2 / 3;
}
.vert {
    height: 250px;
    display: flex;
    justify-content: space-evenly;
}

main section img {
    max-width: 100%;
    max-height: 100%;
}



main #ads {
    width: 250px;
    background-color: #8F5930;
    position: fixed;
    right: -221px;
    border: 3px solid #153026;
    color: #EBDDBB;
    transition: right .75s ease-out;
}

main #ads form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
}
#ads:hover {
    right: 0px;
    transition: right .85s ease-in;
}

#sb {
    grid-column: 1 / 3;
}

input, textarea, select {
    max-width: 90px;
}

footer {
    background: url("../images/flames.png") 108px 192px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: #EBDDBB;
    border-top: 3px solid #153026;
}

footer li {
    list-style-type: none;
}

footer li a {
    color: #EBDDBB;
    font-size: .75em;
    text-decoration: none;
    min-width: 100px;
    display: flex;
    justify-content: center;
}

#subpage {
    grid-column: 1 / 4;
    padding: 30px;
}

table.greenTable {
  font-family: Georgia, serif;
  border: 6px solid #24943A;
  background-color: #D4EED1;
  width: 100%;
  text-align: center;
}
table.greenTable td, table.greenTable th {
  border: 1px solid #24943A;
  padding: 3px 2px;
}
table.greenTable tbody td {
  font-size: 13px;
}
table.greenTable thead {
  background: #24943A;
  background: -moz-linear-gradient(top, #5baf6b 0%, #3a9e4d 66%, #24943A 100%);
  background: -webkit-linear-gradient(top, #5baf6b 0%, #3a9e4d 66%, #24943A 100%);
  background: linear-gradient(to bottom, #5baf6b 0%, #3a9e4d 66%, #24943A 100%);
  border-bottom: 0px solid #444444;
}
table.greenTable thead th {
  font-size: 19px;
  font-weight: bold;
  color: #F0F0F0;
  text-align: left;
  border-left: 2px solid #24943A;
}
table.greenTable thead th:first-child {
  border-left: none;
}

table.greenTable tfoot {
  font-size: 13px;
  font-weight: bold;
  color: #F0F0F0;
  background: #24943A;
  background: -moz-linear-gradient(top, #5baf6b 0%, #3a9e4d 66%, #24943A 100%);
  background: -webkit-linear-gradient(top, #5baf6b 0%, #3a9e4d 66%, #24943A 100%);
  background: linear-gradient(to bottom, #5baf6b 0%, #3a9e4d 66%, #24943A 100%);
  border-top: 1px solid #24943A;
}
table.greenTable tfoot td {
  font-size: 13px;
}
table.greenTable tfoot .links {
  text-align: right;
}
table.greenTable tfoot .links a{
  display: inline-block;
  background: #FFFFFF;
  color: #24943A;
  padding: 2px 8px;
  border-radius: 5px;
}

@media (max-width: 787px) {
    main {
        display: block;
    }
    header {
        padding: 0;
        text-align: center;
        
    }
    header h1 {
        font-size: 2em;
        float: none;
        margin: 0;
    }
    header img {
        position: absolute;
        top: 15px;
        left: 7px;
        width: 30%;
    }
    nav {
        display: block;
        height: unset;
    }
    nav a {
        width: 100%;
        justify-content: center;
        padding: 0;
        border-bottom: 3px solid #153026;
    }

     main #ads {
        position:unset;
        width: 100%;
    }

    #wrapper {
        display: block;
        min-height: unset;
    }
}
@media (max-width: 530px){
    header img {
        display: none;
    }
}


